body {
	background-image:url("image/QVFUaZP.jpg");
	background-position: center;
	background-repeat: repeat-x;
	background-color: #A52A2A;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	
  
}  
