body {
	background-image:url("https://github.com/Zhorlox/HeidinProject/blob/master/images/QVFUaZP.jpg");
	background-position: center;
	background-repeat: repeat;
	background-color: #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	
  
}

