body {
	background-image:url("http://www.publicdomainpictures.net/pictures/60000/velka/background-1380297359ibQ.jpg");
	background-position: center;
	background-repeat: repeat;
	background-color: #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	
  
}

