body {
	background-image: url("images/QVFUaZP.jpg");
	background-size: auto 50vh;
	background-position: center;
	background-repeat: repeat;
	background-color: #A52A2A;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px auto;
	font-weight: normal;
	font-style: normal;
  
}  
